@charset "UTF-8";
#container {
    height: 97vw;
    background-color: #FAF7F1;
    border: 0.6vw double #623D13;
    color: #5A3002;
}
#header {
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 3vw;
    margin-top: 7vw;
    color: #5E3600;
    letter-spacing: 0.1vw;
}
#underline {
    margin-top: -1.5vw;
}

/*navbar*/
#navbar {
    text-align: center;
    padding: 1vw;
    margin-left: -2vw;
}

#navbar ul li {
    padding: 3vw;
    display: inline;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 1vw;
}

/*navbar link decoration*/
a:link {
    color: #5B2806;
    text-decoration: underline;
}
a:visited {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
    color: #9A0D0F;
}
a:active {
    text-decoration: underline;
}

/*---------------------------------c1---------------------------------*/
#c1 {
	border-style: solid;
	border-color: #855020;
	margin-left: 22vw;
	margin-top: 6vw;
	width: 20vw;
	height: 31vw;
}
#costumes {
    padding: 2vw;
    width: 16vw;
}
#c1text {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 1.3vw;
    line-height: 2.5vw;
	padding: 2.4vw;
	margin-top: -3vw;
	width: 16vw;
}

/*---------------------------------c2---------------------------------*/
#c2 {
    border-style: solid;
    border-color: #855020;
    margin-left: 47vw;
    margin-top: -31.4vw;
    width: 28vw;
    height: 24vw;
}
#falltrends {
    padding: 2vw;
    width: 16vw;
}
#c2text {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 1.8vw;
    line-height: 3vw;
	margin-left: 20vw;
	margin-top: -20vw;
	width: 4vw;
	color: #823806;
}

/*---------------------------------c3---------------------------------*/
#c3 {
    border-style: solid;
    border-color: #855020;
    width: 24vw;
    height: 30vw;
    margin-left: 51vw;
    margin-top: 6vw;
}
#c3text {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 1vw;
    line-height: 2.5vw;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
}
#kfashion {
    padding: 2vw;
    width: 20vw;
}

/*---------------------------------c4---------------------------------*/
#c4 {
    border-style: solid;
    border-color: #855020;
    width: 24vw;
    height: 25.7vw;
    margin-left: 22vw;
    margin-top: -26vw;
}
#c4text {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 1vw;
    line-height: 2.5vw;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-top: -1vw;
}
#bfashion {
    padding: 2vw;
    width: 20vw;
}

#footerunderline {
	margin-top: 4vw;
	text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 2vw;
    color: #5E3600;
    letter-spacing: 0.1vw;
}
#footernavbar {
    text-align: center;
    padding: 1vw;
    margin-left: -2vw;
}

#footernavbar ul li {
    padding: 2vw;
    display: inline;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 1vw;
}
ul a {
	color: #371E08;
    text-decoration: underline;
}
